spring:
  application:
    name: admin

  datasource:
    url: jdbc:mysql://localhost:3306/admin_db?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Shanghai
    username: admin_user
    password: userpass
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

  data:
    redis:
      host: localhost
      port: 6379
      database: 0

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    root: info
    com.java.admin: info
    org.springframework.security: info
    org.springframework.web: info
    org.apache.ibatis: info
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

server:
  port: 8000
