spring:
  application:
    name: admin

  profiles:
    active: dev

  datasource:
    url: jdbc:mysql://localhost:3306/admin_db?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Shanghai
    username: admin_user
    password: userpass
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

  data:
    redis:
      host: localhost
      port: 6379
      database: 0

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

logging:
  config: classpath:logback-spring.xml

server:
  port: 8000
  servlet:
    context-path: /api

auth:
  skip-paths: /login,/swagger-ui/index.html,/swagger-ui/**,/v3/api-docs/**
  access-expire-millis: 300000
  refresh-expire-millis: 604800000